.navbar {
    display: flex;
    flex-direction: row;
    background: linear-gradient(to right,#4e6575, #6c7d88);
    border-bottom: 1px solid #374f62;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    color: #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    box-shadow: #253441 0px 0px 10px 0px;
    z-index: 1000;
}

.navbar-logo {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
}

.navbar-title {
    font-size: 2.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.6rem;
    color: #000;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.navbar-button-container {
    margin-left: auto;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-button {
    cursor: pointer;
    position: relative;
    margin-left: 1rem;
    font-weight: 500;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    font-weight: 100;
    font-family:  'Nunito', sans-serif;
    background-color: #253441;
    box-shadow: #253441 0px 0px 10px 0px;
    color: #dcdcdc;
    align-self: flex-start;
    transition: background-color 0.25s;
}
.navbar-button:hover {
    background-color: #dcdcdc;
    color: #000;
    border-color: #dcdcdc;
    margin-left: 1rem;
    border: #253441 3px solid;
}

@media (max-width: 720px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }
    .navbar-button-container {
        margin-right: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 0;
    }
  }