.body-title {
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    color: #dcdcdc;
    font-size: 2.4rem;
    font-weight: thin;
    text-align: center;
    border-bottom: #dcdcdc 4px solid;
}

.body-pricing-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.body-pricing-title {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    color: #ffde00;
    font-size: 1.2rem;
    font-weight: thin;
    text-align: center;
}

.body-pricing-price {
    margin-top: 1rem;
    margin-right: 1rem;
    color: #ffde00;
    font-size: 1.2rem;
    font-weight: thin;
    text-align: center;
    border-bottom: #253441 2px solid;
    transition: ease-in-out 0.35s;
}

.body-pricing-price:hover {
    border-bottom: #253441 4px solid;
}


.body-enroll-button {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 10px;
    background-color: #ffde00;
    color: #374f62;
    box-shadow: #253441 0px 0px 10px 0px;
}

.body-button {
    margin-left: 1rem;
    cursor: pointer;
    font-weight: 500;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    font-weight: 100;
    font-family:  'Nunito', sans-serif;
    background-color: #253441;
    box-shadow: #253441 0px 0px 10px 0px;
    color: #dcdcdc;
    transition: background-color 0.25s;
    text-align: center;
}
.body-button:hover {
    background-color: #dcdcdc;
    color: #000;
    border-color: #dcdcdc;
    text-align: center;
    border: #253441 3px solid;
}

.body-button-container {
    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    align-items: center;
}

.body-enroll-button:hover {
    border: none;
    background-color: #dcdcdc;
    color: #374f62;
    box-shadow: #253441 0px 0px 10px 0px;
}

.body-schedule {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    color: #dcdcdc;
    font-size: 1.5rem;
    font-weight: thin;
    text-align: center;
    border-bottom: #dcdcdc 4px solid;
}

.body-pdf {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 8rem;
    text-align: center;
    align-items: center;
    border: #000 1px solid;
    border-radius: 10px;
    background-color: #fff;
    width: auto;
    height: auto;
    box-shadow: #253441 0px 0px 10px 0px;
}

@media (max-width: 337px) {
    .body-pdf{
        width: 90vw;
    }
}