.footer-div {
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 12rem;
    bottom: 0rem;
    box-shadow: #253441 0px 0px 7px 0px;
    vertical-align: middle;
    align-items: center;
    gap: 1rem;
    font-family: 'Open Sans', sans-serif;
}
.footer-div-logo {
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.footer-div-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-div-title {
    color: #dcdcdc;
    font-weight: bold;
    margin-left: 1rem;
    margin-top: 0.5rem;
}
.footer-div-subtitle {
    color: #dcdcdc;
    font-weight: bold;
    margin-left: 1rem;
    font-size: small;
}
.footer-div-link-list{
    display: flex;
    flex-direction: row;
    margin-left: 4rem;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.footer-div-link {
    color: #dcdcdc;
    font-weight: lighter;
    font-size: small;
    transition: border-bottom 1s;
}
.footer-div-link:hover {
    color: white;
    cursor: pointer;
}
.footer-div-social{
    display: flex;
    position: sticky;
    margin-right: 1rem;
}

@media (max-width: 550px) {
    .footer-div{
        position: relative;
        flex-direction: column;
        margin-left: 0rem;
        gap: 0.5rem;
    }
    .footer-div-logo {
        margin-left: 0rem;
        margin-top: 0.5rem;
        margin-bottom: 0rem;
    }
    .footer-div-title{
        margin-left: 0rem;
    }
    .footer-div-subtitle{
        margin-left: 0rem;
    }
    .footer-div-link-list{
        margin-top: 1.5rem;
        margin-left: 0rem;
        margin-bottom: 1rem;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 540px) and (max-width: 720px) {
    .footer-div{
        position: relative;
        flex-direction: column;
        margin-left: 0rem;
        gap: 0.5rem;
    }
    .footer-div-logo {
        margin-left: 0rem;
        margin-top: 0.5rem;
        margin-bottom: 0rem;
    }
    .footer-div-title{
        margin-left: 0rem;
    }
    .footer-div-subtitle{
        margin-left: 0rem;
    }
    .footer-div-link-list{
        margin-top: 1rem;
        margin-left: 0.5rem;
        margin-bottom: 1rem;
        flex-direction: row;
        align-items: center;
    }
}
@media (min-width: 720px) and (max-width: 870px) {
    .footer-div{
        position: relative;
        flex-direction: column;
        margin-left: 0rem;
        gap: 0.5rem;
    }
    .footer-div-logo {
        margin-left: 0rem;
        margin-top: 0.5rem;
        margin-bottom: 0rem;
    }
    .footer-div-title{
        margin-left: 0rem;
    }
    .footer-div-subtitle{
        margin-left: 0rem;
    }
    .footer-div-link-list{
        margin-top: 1rem;
        margin-left: 0.5rem;
        margin-bottom: 1rem;
        flex-direction: row;
        align-items: center;
    }
}